$black: #1c1c1c;
$light-gray: #dedede;
$gray: #939292;
$red: #d00000;
$white: #fff;

$error-color: $red;

$font-size-base: 15px;
$font-family-base: "Roboto", sans-serif;

$font-size-xs: rem(11px);
$font-size-sm: rem(13px);
$font-size-md: rem(15px);
$font-size-lg: rem(17px);
$font-size-xl: rem(40px);
$font-size-xxl: rem(47px);

$transition-base: 0.2s all;
